@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------------------------------------------------*/
/* Colours */
/*----------------------------------------------------------------------------*/

.menu-item-color-home {
    background-color: #C21460;
    color: #F7F7D4;
}

.menu-item-color-samples {
    background-color: #66B032;
    color: #F7F7D4;
}

.menu-item-color-contact {
    background-color: #1B3409;
    color: #F7F7D4;
}

.section-color {
    background-color: #F7F7D4;
    color: #1B3409;
}

.side-section {
    padding-left: 15px;
    background-color: #66B032;
}

.footer-color {
    background-color: #1B3409;
    color: #F7F7D4;
}

/*----------------------------------------------------------------------------*/
/* Body */
/*----------------------------------------------------------------------------*/

body {
    margin: 0;
    font-family: "Exo", sans-serif;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

/*----------------------------------------------------------------------------*/
/* Header */
/*----------------------------------------------------------------------------*/

header {
    margin: 20;
    background-color: #F7F7D4;
}

.cake-image {
    background: url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.page-header {
    margin-top: 15px;
    margin-bottom: 17px;
}

.name {
    font-weight: 500;
    font-size: 50px;
    margin-left: 25px;
    color: #66B032;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 240px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.tag-line {
    font-weight: 400;
    font-size: 30px;
    margin-left: 25px;
    color: #66B032;
}

/* 
-----No Longer used-----
.logo {
    background: url("../images/20170906215546_1200x1200.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1B3409;
    background-color: #fff;
    text-align: center;
    min-height: 240px;
    text-decoration: none;
    font-size: 45px;
    font-weight: 500;
    color: #C21460;
}
*/

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.menucontainer {
    font-size: 0;
    position: static;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 60px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #defdef;
    height: 100%;
}

.menuitem a i {
    padding-top: 15px;
    display: block;
    color: #F7F7D4;
    font-size: 20px;
}

.menuitem span {
    display: block;
    font-size: 15px;
}

.hvr-sweep-to-bottom:before,
.hvr-sweep-to-top:before,
.hvr-sweep-to-right:before {
    background: rgba(0, 0, 0, 0.2);
    height: 60px;
}

/*----------------------------------------------------------------------------*/
/* Index Section */
/*----------------------------------------------------------------------------*/

section {
    margin: 0;
}

.main-section {
    padding-left: 15px;
}

.origin {
    text-align: center;
    padding-top: 15px;
}

.section-txt {
    margin: 15px;
}

.section-txt a {
    text-decoration: none;
    color: #1B3409;
}

.section-txt a:hover {
    color: #C21460;
}

.question {
    text-align: center;
}

.side-section-menu {
    padding-top: 15px;
    color: #F7F7D4;
    text-align: center;
}

/*----------------------------------------------------------------------------*/
/* Showcase Section */
/*----------------------------------------------------------------------------*/

.types-header {
    padding-top: 15px;
    text-transform: uppercase;
    text-align: center;
}

.list-header {
    font-weight: 700;
}

.cake-types a {
    text-decoration: none;
    color: #F7F7D4;
    text-align: center;
}

.cake-types a:hover {
    color: #C21460;
}

.cakes-prev {
    padding-top: 25px;
    /* padding-bottom: 35px; */
}

.outer-list {
    list-style-type: none;
}

.list-row {
    padding-top: 15px;
}

.type-image {
    padding-top: 25px;
}

.mobile-modal,
.mobile {
    display: none;
}

.modal-content {
    color: #66B032;
    background-color: #1B3409;
    margin: 0 auto;
}

.testimonial {
    padding-left: 20px;
    background-color: #C21460;
    color: #F7F7D4;
}

.prev-cake-header {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2px;
    font-weight: 500;
}

.prev-cake-body {
    padding-bottom: 0;
    text-align: center;
}

.prev-cake-img {
    text-align: center;
}

/*----------------------------------------------------------------------------*/
/* Contact Section */
/*----------------------------------------------------------------------------*/

.form-heading {
    font-weight: 500;
    margin-top: 25px;
    text-align: center;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #F7F7D4;
    background-color: #1B3409;
}

button[type="submit"]:hover {
    color: #66B032;
    background-color: #C21460;
    font-weight: 300;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#name-field {
    background-color: #66B032;
    color: #F7F7D4;
}

#email-field {
    background-color: #66B032;
    color: #F7F7D4;
}

#phone-field {
    background-color: #66B032;
    color: #F7F7D4;
}

#desc-field {
    background-color: #66B032;
    color: #F7F7D4;
}

#budget-field {
    background-color: #66B032;
    color: #F7F7D4;
}

/*----------------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------------*/

footer {
    margin: 0;
}

.footer-text {
    margin: 0;
    padding-left: 30px;
    padding-top: 0;
}

.footer-text a {
    text-decoration: none;
    color: #F7F7D4;
}

.footer-text a:hover {
    color: #66B032;
}

.footer-h5 {
    color: #66B032;
    margin: 0;
    padding-left: 15px;
    padding-top: 15px;
}

.footer-address {
    margin: 0;
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 10px;
}

.copyrite {
    text-align: center;
    margin-top: 45px;
    font-weight: 100;
}

.social {
    text-align: center;
    margin-top: 45px;
}

/*.social-icons li a {
    
}*/

.social-icons li a i {
    width: 45px;
    height: 45px;
    padding: 6px 0;
    /*margin-top: 5px;*/
    border-radius: 50%;
    font-size: 25px;
    background-color: #66B032;
    color: #F7F7D4;
    text-align: center;
    line-height: 35px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-icons li a i:hover {
    background-color: #C21460;
    color: #66B032;
}

.socialitem span {
    display: block;
    width: 100%;
    font-size: 35px;
}

.bold {
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

/*----------------------------------------------------------------------------*/
/* Media Queries */
/*----------------------------------------------------------------------------*/

@media (max-width:767px) {
    body {
        font-family: "Roboto", sans-serif;
        /* width: 100%; */
    }

    /* .logo {
        display: none;
    } */

    .page-header {
        margin-top: 15px;
        margin-bottom: 10px;
        color: #F7F7D4;
    }

    .desktop {
        display: none;
    }

    .center-form {
        max-width: 85%;
    }
    
    .mobile {
        display: block;
        text-align: center;
        color: #C21460;
    }
    
    .copyrite {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .social {
        margin-top: 15px;
    }
    
    .footer-text {
        text-align: center;
    }
    
    .modal-open{
        width: 50%;
    }
    
    .mobile-modal {
        display: block;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    body {
        font-family: "Roboto", sans-serif;
        width: 100%;
    }
}
